@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    .clip-path-style {

        clip-path: polygon(0 0, 100% 0, 100% 100%, 56% 98%, 43% 96%, 32% 94%, 22% 90%, 13% 85.5%, 5% 80%, 0 75%);

    }

}

.BlogLoading {
    background: linear-gradient(90deg, rgba(250, 250, 250, 1), rgba(200, 199, 199));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }